/* Reset */

html, body, h1, ul, li, button, img, a{
  margin:0;
  padding: 0;
  border: 0;

  outline: none;
  font: inherit;
  background: transparent;
}

ul{
  list-style: none;
}

body {
  background: beige;
}

.carousel{
  position: relative;
  display: block;
  width: 300px;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 50px 0px;
  font-family: sans-serif;
  font-size: 42px;
  font-weight: 800;
}

span{
  border: 20px solid black;
  display: block;
  margin: auto;
  width: 260px;
  height: 180px;
  overflow: hidden;
}

.items {
  display: block;
  width: 1300px;
  height: 180px;
  transition: margin-left 500ms;
}

.items li {
  display: block;
  float: left;
  width: 260px;
  height: 180px;
}

.items li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  font-size: 24px;
  font-weight: 700;
  border: 4px solid navy;
  padding: 15px;
  margin: 20px;
  color: navy;
  border-radius: 10px;
}

button:hover{
  cursor: pointer;
}

.slide-left{
  float: right;
}

.slide-right{
  float: left;
}
